# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.ipch
*.ncrunchproject
*.ncrunchsolution
*.suo
*.sdf
*.tlog
*.log
*.sbr
*.pdb
*.lock

*.ide

bin/
obj/

*.user

*.ipdb

*.iobj

packages/
Release/
Debug/
v15/
*.cache
_NCrunch_*
*.cache
Library/
Temp/
Managed/
*_Data
docs/
html/
Cpp/outer_space-wallpaper-1280x720.jpg
Cpp/glew-2.1.0/auto
Cpp/glew-2.1.0/config
Cpp/glew-2.1.0/build
Cpp/glew-2.1.0/doc
Cpp/glew-2.1.0-win32.zip
Cpp/glew-2.1.0 (1).zip
Cpp/glew-2.1.0.zip
